.organization {
  border: 1px solid $base-border-color;
  border-radius: 5px;
  width: 100%;
}

.organization-header {
  @include row;
  background-color: $base-background-color;
  border-radius: $base-border-radius $base-border-radius 0 0;
  padding: 1em 2em 0.75em;

  @include media($large-screen) {
    padding: 1em;
  }
}

.organization-header-config {
  @include span-columns(5.5 of 12);
  text-align: right;

  @include media($medium-screen) {
    @include span-columns(12 of 12)
  }
}

.organization-header-label {
  color: $light-font-color;
  display: inline-block;
  font-weight: 500;
  margin: 2px 0.5em 0 0;
  vertical-align: top;
}

.organization-header-select {
  @include appearance(none);
  @include ellipsis(300px);
  background: $white image-url("select-arrow.svg") no-repeat;
  background-position: calc(100% - 12px) calc(50% + 1px);
  border: 2px solid $base-border-color;
  border-radius: 3px;
  color: $medium-font-color;
  cursor: pointer;
  margin-top: -9px;
  padding: 7px 2em 9px 1em;
  position: relative;
  top: 2px;

  &:focus {
    border: 2px solid $purple;
    outline: 0;
  }
}

.organization-header-title {
  @include ellipsis;
  @include span-columns(3 of 12);
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.4;
  margin-bottom: 0;

  @include media($medium-screen) {
    @include span-columns(12 of 12)
  }
}

.organization-header-toggle {
  @include span-columns(3.5 of 12);

  @include media($medium-screen) {
    @include span-columns(12 of 12)
  }
}

.organization-header-toggle-input {
  @include size(0);
  opacity: 0;

  &:checked + label::before {
    background: $purple;
    width: 50px;
  }

  &:checked + label::after {
    box-shadow: inset 0 0 0 1px $purple, 0 2px 4px rgba($black, 0.2);
    left: 20px;
  }
}

.organization-header-toggle-switch {
  border-radius: 15px;
  box-shadow: inset 0 0 0 1px $base-border-color;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  text-indent: -5000px;
  vertical-align: middle;
  width: 50px;

  &::before {
    @include position(absolute, 0 null null 0);
    @include size(30px);
    @include transition(0.18s ease-in-out);
    background: transparentize($purple, 0);
    border-radius: 15px;
    content: "";
    display: block;
  }

  &::after {
    @include position(absolute, 0 null null 0);
    @include size(30px);
    @include transition(0.18s ease-in-out);
    background: $white;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px rgba($black, 0.2), 0 2px 4px rgba($black, 0.2);
    content: "";
    display: block;
  }
}
