.repos-syncing {
  background-color: $white;
  padding: 4em 1em;
  text-align: center;

  .dot {
    @include size(24px);
    @include animation(loading 1.3s ease-out);
    @include animation-iteration-count(infinite);
    background-color: rgba($green, 0.1);
    border: 1px solid $green;
    border-radius: 100%;
    display: inline-block;
    margin: 0 1.2em;
    opacity: 0.1;

    &:nth-child(2) {
      @include animation-delay(0.2s);
    }

    &:nth-child(3) {
      @include animation-delay(0.4s);
    }
  }
}
