body.dashboard {
  .content {
    max-width: 980px;
  }
}

.violations-count-table {
  @include outer-container;
  font-size: 0.85em;

  .violation-name { @include span-columns(7); }
  .violation-bar {
    @include span-columns(5);
    @include omega();
  }
  .violation-count {
    @include span-columns(1 of 5);
  }
  .svg-container {
    @include span-columns(4 of 5);
  }

  svg.svg-container {
    max-height: 50px;

    rect {
      fill: rgb(192, 153, 222);
    }
  }
}
