.violation-row{ 'ng-repeat' => 'violation in violations' }
  .violation-name {{ violation[0] }}
  .violation-bar
    %span.violation-count {{ violation[1] }}
    %svg.svg-container
      <dashboard-bar count='{{ violation[1] }}' max-count='{{ maxCount }}'>
      </dashboard-bar>
