- content_for :page_title, "Your Repos"

= render 'shared/header'

.style-guides
  %h1 thoughtbot's style guides
  %p
    Toggle on and off different style rules for your entire organization.  For
    advanced configurations, see our awesome configuration instructions. If your
    repo has a `hound.yml`, then these rules will be overridden.

  %form.ruleset
    .rule.active-rule
      .rule-header
        %h2.rule-name Line Length
        %input.toggle-check{type: "checkbox", id: "line-length"}
        %label.toggle{for: "line-length"}
      %dl.extra-options
        %dt
          %label{for: "max-length"} Max Length
        %dd
          %input#max-length{type: "Number"}
          characters

    .rule.active-rule
      .rule-header
        %h2.rule-name Single / Double Quotes
        %input.toggle-check{type: "checkbox", id: "quotes"}
        %label.toggle{for: "quotes"}
      %dl.extra-options
        %dt
          %label{for: "quotes"} Preferred Quotation Mark Type
        %dd
          %input#quotes-single{type: "radio", name: "quotes-type"}
          %label{for: "quotes-single"} Single
          %input#quotes-double{type: "radio", name: "quotes-type"}
          %label{for: "quotes-double"} Double

    .rule.active-rule
      .rule-header
        %h2.rule-name Ignore Paths
        %input.toggle-check{type: "checkbox", id: "paths"}
        %label.toggle{for: "paths"}
      %dl.extra-options
        %dt
          %label{for: "path-name"} Paths
        %dd
          %input#path-name{type: "text"}

    .rule.active-rule
      .rule-header
        %h2.rule-name Hash Syntax Type
        %input.toggle-check{type: "checkbox", id: "hash-syntax"}
        %label.toggle{for: "hash-syntax"}
      %dl.extra-options
        %dt
          Hash Syntax Type
        %dd
          Ruby 1.9 Hash syntax (Hash Rockets will be considered invalid)

    .rule.active-rule
      .rule-header
        %h2.rule-name Collection Methods
        %input.toggle-check{type: "checkbox", id: "collection"}
        %label.toggle{for: "collection"}
      %dl.extra-options.multiple-options
        %dt
          %label{for: 'collection-map'} Map
        %dd
          %select#collection-map{name: "collection_map" }
            %option{ value: "" } Don't Check
            %option{ value: "map" } Map
            %option{ value: "collect" } Collect

        %dt
          %label{for: 'collection-reduce'} Reduce
        %dd
          %select#collection-reduce{name: "collection_reduce" }
            %option{ value: "" } Don't Check
            %option{ value: "reduce" } Reduce
            %option{ value: "inject" } Inject

        %dt
          %label{for: 'collection-find'} Find
        %dd
          %select#collection-find{name: "collection_find" }
            %option{ value: "" } Don't Check
            %option{ value: "find" } Find
            %option{ value: "detect" } Detect

        %dt
          %label{for: 'collection-filter'} Filter
        %dd
          %select#collection-filter{name: "collection_filter" }
            %option{ value: "" } Don't Check
            %option{ value: "filter" } Filter
            %option{ value: "detect" } Detect

    .ruleset-actions
      %input.button{type: 'submit', value: 'Save Rules'}
